<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>mog.net.teams.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/teams/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Teams.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>dataServiceServlet</servlet-name>
    <servlet-class>mog.net.teams.server.DataServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dataServiceServlet</servlet-name>
    <url-pattern>/teams/data</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>uploadPlayerServlet</servlet-name>
    <servlet-class>mog.net.teams.server.UploadPlayer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadPlayerServlet</servlet-name>
    <url-pattern>/uploadPlayer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>serveBlobServlet</servlet-name>
    <servlet-class>mog.net.teams.server.ServeBlob</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>serveBlobServlet</servlet-name>
    <url-pattern>/serveBlob</url-pattern>
  </servlet-mapping>

  <!-- Enable Objectify -->
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>startupServlet</servlet-name>
    <servlet-class>mog.net.teams.server.StartupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>startupServlet</servlet-name>
    <url-pattern>/startup</url-pattern>
  </servlet-mapping>

</web-app>